<html>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700' rel='stylesheet' type='text/css'>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/templatemo-style.css" rel="stylesheet">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
    <title>KGP Trends </title>
        {% for post in data %}
           <div class="about-container">
             <div class="about-container-left">
                 {% if post['pic'] %}
                    <img class="img-responsive" src="{{ post['pic'] }}">
                 {% endif %}
             </div>
              <div class="about-container-right">
                <h2 class="about-title"> {{post['source'] }} </h2>
                <p class="about-description"> <b>Posted on: {{ post['created_time'] }}</b></p>
                <p class="about-description" > {{ post['message'] }} {{post['link']}} </p>
              </div>      
            </div>       
        {% endfor %}

</html>
