* { margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body { background-color: #fff; color: #333; font: 18px/24px system, "Libertine", "Palatino", "HelveticaNeue", Helvetica, Arial, sans-serif; width: 960px; margin: 2rem auto;}

.row { width: 100%; margin:0 auto 20px auto; display:inline-block; position:relative; }
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 { float: left; margin-right: 2%; }
.row .col-1:last-child, .row .col-2:last-child, .row .col-3:last-child, .row .col-4:last-child, .row .col-5:last-child, .row .col-6:last-child, .row .col-7:last-child, .row .col-8:last-child, .row .col-9:last-child, .row .col-10:last-child, .row .col-11:last-child, .row .col-12:last-child { margin-right: 0; }
.row:after, .clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; padding-bottom: 2rem;}

.col-1  { width: 6%; }
.col-2  { width: 15%; }
.col-3  { width: 23.5%; }
.col-4  { width: 32%; }
.col-5  { width: 40%; }
.col-6  { width: 49%; }
.col-7  { width: 56.5%; }
.col-8  { width: 66%; }
.col-9  { width: 74%; }
.col-10 { width: 82.5%; }
.col-11 { width: 91%; }
.col-12 { width: 100%; }

h1 { font-size: 30px; line-height: 36px; margin-bottom: 20px; }
h2 { font-size: 24px; line-height: 20px; margin-bottom: 20px; }
h3 { font-size: 20px; line-height: 20px; margin-bottom: 10px; }
h4 { font-size: 16px; line-height: 20px; margin-bottom: 10px; }
h5 { font-size: 14px; line-height: 20px; margin-bottom: 20px; }
h6 { font-size: 12px; line-height: 20px; margin-bottom: 20px; }
h1,h2,h3,h4,h5,h6 { color: #333; }

img.float-left  { float: left; margin: 0 20px 20px 0; }
img.float-right { float: right; margin: 0 0 20px 20px; }
img.center { margin: 0 auto; display: block; }

hr { background-color: #ccc; border: 0px; color: #ccc; height: 1px; margin-bottom: 20px; }

p { line-height: 1.5rem; word-spacing: .05rem; }

.post {border-bottom: 2px solid black;}
.post-message {padding-left: 2rem;}
