/*!
 * Material Design for Bootstrap
 * Version: MDB FREE: 3.3.3
 *
 *
 * Copyright: Material Design for Bootstrap
 * www.mdbootstrap.com
 *
 * Read the license: http://mdbootstrap.com/wp-content/uploads/2015/09/MDB-License.pdf
 *
 * Atribution: Animate CSS, Twitter Bootstrap, Materialize CSS, Normalize CSS, Waves JS, WOW JS, Toastr, Chart.js , Hammer.js
 *
 */
  
@charset "UTF-8";  

// MDB Framework //
 
// Mixins
@import "mdb/free/prefixer";
@import "mdb/free/mixins";

@import "mdb/free/color"; 

// Variables
@import "mdb/free/variables";

// Reset
@import "mdb/free/normalize";
 
//Global
@import "mdb/free/global"; 
  
// Components  
@import "mdb/free/roboto"; 
@import "mdb/free/buttons"; 
@import "mdb/free/navbar";
@import "mdb/free/shadows";
@import "mdb/free/typography";
@import "mdb/free/cards";  
@import "mdb/free/dropdown";
@import "mdb/free/tooltip";
@import "mdb/free/scrollspy"; 
@import "mdb/free/pagination";  
@import "mdb/free/panel";
@import "mdb/free/carousel";   
@import "mdb/free/animations";  
@import "mdb/free/forms-basic"; 
@import "mdb/free/video-background"; 
@import "mdb/free/parallax";
@import "mdb/free/hover-effects";     
@import "mdb/free/sections";     
   
// Animations
@import "mdb/free/waves";   
    
// Helpers 
@import "mdb/free/helpers";  







 
